
<nav class="shadow-sm bg-gray-800 font-[sans-serif] min-h-[70px]'">
    <div class="flex flex-wrap  items-center justify-between sm:px-10 px-6 py-3 relative lg:gap-y-4 gap-y-6 gap-x-4">
        <div class="text-2xl"> <a href="/">Film Finder</a></div>
        <form method="post" action="/search" class="bg-gray-500 flex  max-md:order-1 border-transparent focus-within:border-blue-500  rounded-sm h-10 lg:w-2/4 max-md:w-full md:px-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
              class="fill-gray-400 mr-4 rotate-90">
              <path
                d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
              </path>
            </svg>
            <input type='string' name='name' placeholder='Search for name of the movie.....' class="w-full outline-none bg-transparent text-[#333] text-sm" />
        </form>
        <a href="/form" class='flex items-center justify-center space-x-8 w-full md:w-auto  border-2 max-md:ml-auto bg-orange-800  py-1 px-3 hover:text-gray-400 hover:ease-in-out hover:rounded-lg transform hover:text-white  hover:scale-110 transition-transform rounded '>
            Add movie</a>
    </div> 
  </nav>